<style>
/*PAGE LAYOUT*/
html {
  font-size: 1.2em;
}
@media screen and (min-width: 767px) {
  /* line 2, /app/views/stylesheets/type.sass */
  html {
    font-size: 1em;
  }
}
@media screen and (min-width: 1030px) {
  /* line 2, /app/views/stylesheets/type.sass */
  html {
    font-size: 1em;
  }
}
@media screen and (min-width: 1100px) {
  /* line 2, /app/views/stylesheets/type.sass */
  html {
    font-size: 1em;
  }
}
@media screen and (min-width: 1300px) {
  /* line 2, /app/views/stylesheets/type.sass */
  html {
    font-size: 1em;
  }
}
@media screen and (min-width: 1550px) {
  /* line 2, /app/views/stylesheets/type.sass */
  html {
    font-size: 1.3em;
  }
}
  .site_container {
    padding: 2em 3em 5em;
    margin: 0;
  }
  @media screen and (max-width: 767px) {
    .site_container {
      padding: 1em 1em 5em;
    }
  }
  .text_width {
    max-width: 60rem;
    margin: 0 auto;
    line-height: 2;
    padding:1em 0em 1em;
  }
  @media screen and (max-width: 767px) {
    .text_width {
      max-width: 60rem;
      padding: 1em .75em 1em;
    }
  }
  .padded_text {
    padding: 0 7em;
  }
  @media screen and (max-width: 767px) {
    .padded_text {
      padding: 0.5em
    }
  }

/*COLUMNS*/
@media screen and (min-width: 767px) {
  .cols {
    display: block;
    margin: 0;
    clear: both;
    vertical-align: baseline;
    padding: 0 4em;
  }
  .cols:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
  }
  .cols > div {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 1px;
  }
  .cols > div:last-of-type {
    margin-right: 0;
  }
  .cols > div > *:first-child {
    margin-top: 0;
  }
  .col_half {
    width: 50%;
  }
  .col_one_third {
    width: 33%;
    text-align: center;
  }
}

/*NAVIGATION*/
 .nav_width {
   padding: 0 3em 1em 3em;
  }
 .app_nav a {
  display: block;
  padding: .2em;
  border-bottom: none;
  text-align: center;
  font-size: 110%;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (min-width: 767px) {
  .app_nav a {
    display: inline-block;
    margin-left: 1.5em;
    margin-bottom: 5px;
    padding: 0 1em;
    border: none;
    text-align: center;
    font-size: 110%;
  }
  .app_nav a:hover {
    color: rgba(0,0,0,0.4);
  }
}
.navigation {
  text-align:center;
  margin: 0 auto;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown_content {
  display: none;
  position: absolute;
  background:#b9bcb8;
  color:white;
  min-width: 160px;
  text-align: center;
  margin-left: 0;
  border:none;
  padding: .2em;
  z-index: 1;
}
.dropdown_content a {
  color:white;
  margin-left: 0;
  border-bottom: none;
}
.dropdown:hover .dropdown_content {
  display: block;
}

/*BODY*/
 body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  line-height: 1.3;
  }
 .hero_image {
  background: #ffffff;
  color: #15300c;
  }
@media screen and (max-width: 767px) {
  body {
    font-size:1.2em;
  }
}

/*SUPPORT STYLES*/
.logo {
  height:4em;
  padding: 1em;
}
@media screen and (max-width: 767px) {
  .logo {
    height: 2em;
  }
}
.logo_section {
  margin: 0 auto;
}
 h1 h2 h3{
  font-family: 'Poiret One', cursive;
  }
 h4 {
  text-transform: uppercase;
  }
  @media screen and (max-width: 767px) {
    h1 h2 h3 h4 {
      font-size: 1.2em;
    }
  }
  .white_feature_text {
    color:white;
    text-shadow:4px 4px 8px black;"
  }
  a {
    color:#380523;
    cursor: pointer;
  }
  a:hover {
    color:#380523;
    cursor: pointer;
  }
 .text_center {
  text-align: center;
  }
 .button {
  background: #380523;
  color:#ffffff;
  border:none;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px 1px #011905;
  padding: 1em 2.5em;
 }
 .button:hover {
  background:#440329;
  color:#ffffff;
  border:none;
  border-radius: 0.5em;
  box-shadow: 1px 1px 1px 1px #000;
  padding: 1em 2.5em;
 }
 .no_decoration {
  text-decoration: none;
 }

/*PHOTOS*/
@media screen and (max-width: 767px) {
  .site_container img {
    height: 12em;
  }
}
  .table_images {
    max-height: 20em;
    padding: 1em;
  }
  @media screen and (max-width: 767px) {
    .table_images {
      max-height: 100em;
    }
  }
@media screen and (max-width: 767px) {
  .code_image {
    display: none;
  }
}
  .photo_reel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
  }
  .shrink_photo {
    flex-shrink: 1;
  }
  /*SCROLLING PHOTOS*/
  .scrolling_photo_container {
    overflow: hidden;
    margin: 50px auto;
    background: white;
  }
  .scrolling_photo_reel {
    height: 20em;
    width: 11350px;
    margin-bottom: 80px;
  }
  .scrolling_photo_reel img:hover {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -o-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   cursor: pointer;
  }
  /*scrolling photo animations*/
   .first_scrolling_image {
    -webkit-animation: bannermove 100s linear infinite;
       -moz-animation: bannermove 100s linear infinite;
        -ms-animation: bannermove 100s linear infinite;
         -o-animation: bannermove 100s linear infinite;
            animation: bannermove 100s linear infinite;
   }
  @keyframes "bannermove" {
    0%{
      margin-left: 0px;
    }
    100% {
      margin-left: -10000px;
    }
  }
    @-moz-keyframes bannermove {
     0% {
      margin-left: 0px;
     }
     100% {
      margin-left: -10000px;
     }
    }
  @-webkit-keyframes "bannermove" {
   0% {
     margin-left: 0px;
   }
   100% {
     margin-left: -10000px;
   }
  }
 
  @-ms-keyframes "bannermove" {
   0% {
     margin-left: 0px;
   }
   100% {
     margin-left: -10000px;
   }
  }
 
  @-o-keyframes "bannermove" {
   0% {
     margin-left: 0px;
   }
   100% {
     margin-left: -10000px;
   }
  }
 
/*FOOTER*/
  footer {
    background:#747971;
    padding: 1.5em 0 3em;
    border-top: 0.8em groove #c8d0c4;
  }

/*INDEX LANDING PAGE*/
 .index_header {
   padding: 13em 0;
   background: url("http://madisonmarkel.com/index_background.jpg") repeat fixed center center;
   /*background: #b9bcb8;*/
  }
  @media screen and (max-width: 767px) {
    .index_header {
      padding: 8em 0;
      background: url("http://madisonmarkel.com/index_background.jpg") no-repeat fixed center center;
    }
  }
  .landing_page_background {
    background: url("http://madisonmarkel.com/index_background.jpg") repeat fixed center center;
  }

/*ABOUT*/
  .studio_image {
    height: 20em;
  }
  /*@media screen and (max-width: 767px) {
    .studio_image {
      padding: 0em;
      height: 12em;
    }
  }*/
/*PAINT*/
.feature_work {
  padding: 4em 0;
  margin-bottom: 1em;
}
@media screen and (max-width: 767px) {
  .feature_work {
    padding: 8em 0;
  }
}
.decay_feature {
  background: url("http://madisonmarkel.com/variations2_valley_angle.jpg") repeat fixed center center;
}
.petal_feature {
  background: url("http://madisonmarkel.com/spring_rain_feature.JPG") repeat fixed center center;
}
.landscape_feature {
  background: url("http://madisonmarkel.com/yellow_mountains.jpg") repeat fixed center center;
}
.studies_feature {
  background: url("http://madisonmarkel.com/decaying_leaf.jpg") repeat fixed center center;
}
.want_more_feauture {
  background: url("http://madisonmarkel.com/bon_iver_album_sketch.JPG") repeat fixed center center;
}
.feature_work a {
  color: white;
  text-shadow:4px 4px 8px black;
}
/*DESIGN*/
.robo_gurlz_feature {
  background: url("http://madisonmarkel.com/robo_gurlsss3_sketch.jpg") repeat fixed center center;
}
.graphics_feature {
  background: url("http://www.madisonmarkel.com/graphics_background.png") repeat fixed center center;
}
.websites_feature {
  background: url("http://madisonmarkel.com/code_feature.png") repeat fixed top center;
}

/* CONTACT*/
@media screen and (min-width: 767px) {
  .contact_form {
  padding: 0 5em;
  align-content: center;
}
}
@media screen and (max-width: 767px) {
  .contact_form {
  padding:0 2em;
  align-content: center;
}
}
input, textarea {
  background:#b9bcb8;
  width: 30em;
  background:#b9bcb8;
  box-sizing: border-box;
  display: block;
  border: 1px solid #ffffff;
  padding:10px;
  border-radius: 6px;
  box-shadow:rgba(0, 0, 0, 0.2) 0 3px 5px 0 inset;
}
@media screen and (max-width: 767px) {
 input [type="text"] {
  width: 36em;
  height: 36em;
 }
}
</style>
